div.grid-33
    div.app--section
        ul.app--user--list
            for follower in followers
                li
                    div.circle--fluid
                        div.circle--fluid--cell.circle--fluid--primary
                            a.app--tweet--author
                                div.app--avatar(style="background-image: url(#{follower.profile_image_url})")
                                    img(src="#{follower.profile_image_url}")
                                h4 #{follower.name}
                                p
                                   a(href="#{follower.url}" target="__blank") #{'@' + follower.screen_name}
                        div.circle--fluid--cell
                            if follower.following
                                a.button.button-text Unfollow
                            else
                                a.button Follow


